//- /*---------- Mixin Services Item ----------*/
mixin servicesItem(heading)
  li.services-item
    .services-item-icon
      img(src="./image/icon-services.svg", alt="services_icon")
    .services-item-body
      h2.heading.services-item-heading= heading
      p.caption.services-item-desc Everything you expect and then some. Cleanings, fillings, and x-rays.