mixin servicesItem(heading)
  .services-item
    .services-item-icon
      img(src="./image/icon-services.svg", alt="services_icon")
    .services-item-body
      h2.heading.service-item-heading= heading
      p.caption.service-item-desc Everything you expect and then some. Cleanings, fillings, and x-rays.