@use "../../abstracts" as abst;

.cta {
  &-wrapper {
    @include abst.flexBox(
      ((align-items: center, justify-content: space-between))
    );
    // position: relative;
    background-color: abst.$blue-2e;
    padding: 0 70px;
  }

  // &-media {
  //   position: absolute;
  //   left: 70px;
  //   bottom: 0;
  // }

  &-heading {
    color: #fff;
    font-size: 50px;
    line-height: calc(60 / 50);
    letter-spacing: -1px;
  }

  &-caption {
    color: #fff;
    font-size: 18px;
    line-height: calc(30 / 18);
    margin-block: 18px 38px;
  }

  &-image {
    @include abst.flexBox(((align-items: center, gap: 28px)));
  }
}
