@use "../../abstracts" as abst;

.footer {
  background-color: abst.$bg-primary;
  padding-top: 100px;
  font-family: abst.$font-third;
  color: abst.$gray-a9;

  &-container {
    container-type: inline-size;
    container-name: footer-container;
  }

  &-top {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
    margin-bottom: 20px;

    @container footer-container (max-width: 991.98px) {
      & {
        grid-template-columns: 0.6fr 0.5fr 1fr;
        column-gap: 60px;
      }

      & .footer-column:nth-of-type(3) {
        display: none;
      }
    }

    @container footer-container (max-width: 630px) {
      grid-template-columns: minmax(0, 1fr);
      row-gap: 30px;
    }
  }

  &-caption {
    margin-top: 21px;
    font-size: 16px;
    line-height: calc(28 / 16);
  }

  &-heading {
    color: #fff;
    font-size: 16px;
    line-height: calc(28 / 16);
    margin-bottom: 20px;
  }

  &-links {
    @include abst.flexBox(((flex-direction: column, gap: 10px)));
    margin-bottom: 28px;
  }

  &-link {
    display: inline-block;
    color: abst.$gray-a9;
    font-size: 14px;
    line-height: calc(26 / 14);
    transition: all 0.2s linear;

    &:hover {
      text-decoration: underline solid abst.$gray-a9;
    }
  }

  &-socials {
    @include abst.flexBox(((align-items: center, gap: 10px)));
    margin-bottom: 28px;

    &-btn {
      @include abst.size(32px);
      border-radius: 100rem;
      background-color: #fff;
      @include abst.flexBox(((align-items: center, justify-content: center)));
      color: abst.$blue-2e;
      transition: all 0.2s linear;

      &:hover {
        color: #fff;
        background-color: abst.$blue-2e;
      }
    }
  }

  &-desc {
    font-size: 14px;
    line-height: calc(26 / 14);
    max-width: 273px;
    margin-bottom: 10px;
  }

  &-bottom {
    border-top: 1px solid #406181;

    p {
      padding: 28px 0 42px;
      color: #aab3ba;
      font-size: 14px;
      line-height: calc(26 / 14);
      text-align: center;
    }
  }
}

.subscribe {
  &-form {
    @include abst.flexBox(((gap: 12px)));
    @include abst.size(100%, 46px);
  }

  &-input {
    color: #fff;
    border: 1px solid #406181;
    border-radius: 4px;
    padding: 10px;
    flex: 1;

    &::placeholder {
      color: abst.$gray-a9;
    }
  }

  &-button {
    display: block;
    padding: 10px 21px;
    @include abst.fontWeight("semibold");
    font-size: 14px;
    line-height: calc(26 / 14);
    border-radius: 4px;
    transition: all 0.2s linear;

    &:hover {
      opacity: 0.8;
    }
  }

  @container footer-container (max-width: 300px) {
    &-form {
      flex-direction: column;
      height: auto;
    }

    &-button {
      margin: 0 auto;
    }
  }
}
