@use "../../abstracts" as abst;

.footer {
  background-color: abst.$bg-primary;
  padding-top: 100px;
  font-family: abst.$font-third;
  color: abst.$gray-a9;

  &-top {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
  }

  &-caption {
    margin-top: 21px;
    font-size: 16px;
    line-height: calc(28 / 16);
  }

  &-heading {
    color: #fff;
    font-size: 16px;
    line-height: calc(28 / 16);
  }

  &-links {
    margin: 20px 0 28px;
  }

  &-link {
    display: inline-block;
    color: abst.$gray-a9;
    font-size: 14px;
    line-height: calc(26 / 14);
  }
}
