@use "../../abstracts" as abst;

.header {
  background-color: abst.$bg-primary;
  padding-block: 30px 110px;

  &-mobile {
    @media (min-width: 980px) {
      display: none;
    }

    @container wrapper (max-width: 970px) {
      &-icon {
        position: absolute;
        top: 40px;
        left: 15px;
        @include abst.size(25px);
        color: #fff;
        cursor: pointer;
      }

      & .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: all 0.2s linear;
      }

      & .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-top {
    @include abst.flexBox(
      ((align-items: center, justify-content: space-between))
    );
    container-type: inline-size;
    container-name: header-top;
  }

  &-menu {
    // margin-inline: auto 222px;
    @include abst.flexBox(((align-items: center, gap: 42px)));

    &-item {
      position: relative;

      &:first-child::before {
        content: "";
        @include abst.size(6px);
        border-radius: 100rem;
        background-color: #fff;
        position: absolute;
        left: -12px;
        bottom: 10px;
      }

      &:first-child .header-menu-link {
        text-shadow: 1px 0 0 currentColor;
        color: #fff;
      }
    }

    &-link {
      color: abst.$gray-c9;
      font-size: 16px;
      line-height: calc(28 / 16);
      @include abst.fontWeight("light");
      transition: all 0.2s linear;

      &:hover {
        text-shadow: 1px 0 0 currentColor;
        color: #fff;
      }
    }
  }

  @container header-top (max-width: 940px) {
    &-menu {
      display: none;
    }

    &-logo {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-btn {
    @include abst.flexBox(((align-items: center, gap: 28px)));

    .button {
      display: inline-block;
      font-size: 16px;
      line-height: calc(28 / 16);
      padding: 8px 20px;
      border-radius: 22px;
      transition: all 0.2s linear;
    }

    .button-login {
      color: abst.$gray-c9;
      font-size: 16px;
      line-height: calc(28 / 16);
      @include abst.fontWeight("light");
      transition: all 0.2s linear;

      &:hover {
        text-shadow: 1px 0 0 currentColor;
        color: #fff;
      }
    }

    .button-signup:hover {
      opacity: 0.8;
    }
  }
}

.hero {
  margin-top: 76px;

  &-container {
    @include abst.flexBox(
      ((align-items: center, justify-content: space-between))
    );
  }

  &-content {
    width: 44%;
  }

  &-heading {
    font-size: 70px;
    line-height: calc(80 / 70);
    letter-spacing: -1.4px;
  }

  &-caption {
    margin-block: 22px 38px;
    color: abst.$gray-c9;
    font-size: 18px;
    line-height: calc(30 / 18);
  }

  &-button {
    display: inline-block;
    padding: 15px 46px;
    font-size: 18px;
    line-height: calc(30 / 18);
    border-radius: 30px;
    margin-right: 38px;
    transition: all 0.2s linear;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    color: #fff;
    font-size: 18px;
    line-height: calc(30 / 18);
  }
}
