@use "../../abstracts" as abst;

.services {
  margin: 170px 0;

  &-heading {
    color: abst.$bg-primary;
    text-align: center;
    font-size: 50px;
    line-height: calc(60 / 50);
    letter-spacing: -1.4px;
    margin-bottom: 18px;
  }

  &-caption {
    font-size: 18px;
    line-height: calc(30 / 18);
    text-align: center;
    min-width: 468px;
  }
}
