@use "../../abstracts" as abst;

.team {
  margin-top: 170px;
  &-heading {
    color: abst.$bg-primary;
    font-size: 50px;
    line-height: calc(60 / 50);
    letter-spacing: -1px;
    text-align: center;
  }

  &-button {
    display: block;
    padding: 15px 26px;
    font-size: 18px;
    line-height: calc(30 / 18);
    border-radius: 30px;
    margin: 38px auto 70px;
  }
}
