section.about
  .container
    .about-wrapper
      .about-image
        img.about-image-big(src="../../image/about/about.svg", alt="about-image-big")
        img.about-image-small(src="../../image/about/about-1.svg", alt="about-image-small")
      .about-content
        h2.heading.about-heading Take back your smile with shine.
        p.caption.about-caption If you’re missing multiple teeth due to decay, injury, or the natural aging process, dentures might be the perfect solution.
        a.button.about-button(href="#!") Learn More