section.appointment
  .container
    .appointment-content
      h2.heading.appointment-heading Always welcoming new patients
      p.caption.appointment-caption Take control of your dental health and get the personalized care you deserve. Call (541) 772-8846 to schedule
      a.button.appointment-button(href="#!") Appointment
