section.cta
  .container
    .cta-wrapper
      .cta-media
        img(src="./image/cta/Rectangle.svg", alt="install-img")
      .cta-content
        h2.heading.cta-heading Take back your smile with dentures
        p.caption.cta-caption If you’re missing multiple teeth due to decay, injury, or the natural aging process, dentures might be the perfect solution.
        .cta-image
          img(src="./image/cta/Google Play outline badge.svg", alt="install with Google Play")
          img(src="./image/cta/App Store outline badge.svg", alt="install with App Store")