.menu
  .menu-mobile
    input.menu-checkbox(type="checkbox", name="menu-checkbox" id="menu-checkbox" hidden)
    label(for="menu-checkbox")
      svg.menu-header-icon(xmlns="http://www.w3.org/2000/svg", height="16", width= "14", viewBox="0 0 448 512")
        path(d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" fill="currentColor")
    //- Overlay
    label.menu-overlay(for="menu-checkbox")
    //- Menu content
    .menu-drawer
      //- navigation mobile
      ul#header-menu-mobile
      //- Dùng JS để copy navigation
      script.
        const navPC = document.querySelector("#header-menu-pc")
        const navMobile = document.querySelector("#header-menu-mobile")
        // Sao chép
        navMobile.innerHTML = navPC.innerHTML
