section.team
  .container
    h2.heading.team-heading Our virtual dentist
    a.button.team-button(href="#!") Meet our dentist
    ul.team-list
      each val in [1,2,3,4]
        li.team-item
          img.team-item-image(src="", alt="")
          h3.team-item-name Dr. Essence Page
          p.team-item-desc DDS, California - Linda University
