section.team
  .container
    h2.heading.team-heading Our virtual dentist
    a.button.team-button(href="#!") Meet our dentist
    ul.team-list
      each val in [1,2,3,4]
        li.team-item
          .team-item-image
            img.team-item-thumb(src="../../image/team/dentist-1.svg", alt="")
          h3.team-item-name Dr. Essence Page
          p.team-item-desc DDS, California - Linda University
