-
  var works_list = [
    {image: "./image/Orion_search.svg", alt: "icon_orion_search" ,heading: "Search doctor"},
    {image: "./image/Orion_find-user.svg", alt: "icon_orion_find-user" ,heading: "Find best doctor"},
    {image: "./image/Orion_first-aid-kit.svg", alt: "icon_orion_first-aid-kit" ,heading: "Get treatment"}
  ];

section.works
  .container.works-container
    h2.heading.works-heading How it works
    p.caption.works-caption Exceptional dental care for all ages. Your great smile begins with a great dentist.
    ul.works-list
      each works_item in works_list
        +worksItem(works_item.image, works_item.alt, works_item.heading)
