@use "../abstracts" as abst;

html {
  scroll-behavior: smooth;
}

body {
  font-family: abst.$font-primary;
  color: #575f66;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  container-type: inline-size;
  container-name: wrapper;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  color: #fff;
  @include abst.fontWeight("semibold");
}

.caption {
  color: abst.$gray-575;
  @include abst.fontWeight("light");
}
