//---------- Fonts
$font-primary: "Sora", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-third: "Open Sans", sans-serif;

//---------- Colors
$gray-575: #575f66;
$gray-c9: #c9d2da;
$gray-a9: #a9b3bb;
$bg-primary: #10375c;
$blue-2e: #2e80ce;
