@use "../abstracts" as abst;

.button {
  all: unset;
  color: #fff;
  border-radius: 22px;
  background-color: abst.$blue-2e;
  @include abst.flexBox(((align-items: center, justify-content: center)));
  width: fit-content;
  cursor: pointer;
}
