*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  color: #575f66;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  container-type: inline-size;
  container-name: wrapper;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  color: #fff;
  font-weight: 600;
}

.caption {
  color: #575f66;
  font-weight: 300;
}

.button {
  all: unset;
  color: #fff;
  border-radius: 22px;
  background-color: #2e80ce;
  width: fit-content;
  cursor: pointer;
}

.header {
  background-color: #10375c;
  padding-block: 30px 110px;
}
.header-container {
  container-type: inline-size;
  container-name: header-container;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  container-name: header-top;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 42px;
}
.header-menu-item {
  position: relative;
}
.header-menu-item:first-child::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100rem;
  background-color: #fff;
  position: absolute;
  left: -12px;
  bottom: 10px;
}
.header-menu-item:first-child .header-menu-link {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.header-menu-link {
  color: #c9d2da;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  transition: all 0.2s linear;
}
.header-menu-link:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
@container header-top (max-width: 970px) {
  .header-menu {
    display: none;
  }
  .header-logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header-btn {
  display: flex;
  align-items: center;
  gap: 28px;
}
@container header-top (max-width: 550px) {
  .header-btn {
    display: none;
  }
}
.header-btn .button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.75;
  padding: 8px 20px;
  border-radius: 22px;
  transition: all 0.2s linear;
}
.header-btn .button-login {
  color: #c9d2da;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  transition: all 0.2s linear;
}
.header-btn .button-login:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.header-btn .button-signup:hover {
  opacity: 0.8;
}

.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  container-name: hero;
}
@container header-container (max-width: 970px) {
  .hero {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
.hero-content {
  width: 44%;
  container-type: inline-size;
  container-name: hero-content;
}
@container hero (max-width: 970px) {
  .hero-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
.hero-heading {
  font-size: 70px;
  line-height: 1.1428571429;
  letter-spacing: -1.4px;
}
.hero-caption {
  margin-block: 22px 38px;
  color: #c9d2da;
  font-size: 18px;
  line-height: 1.6666666667;
}
.hero-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1007px) {
  .hero-links {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .hero-links {
    flex-direction: column;
    gap: 25px;
  }
}
.hero-button {
  display: inline-block;
  padding: 15px 46px;
  font-size: 18px;
  line-height: 1.6666666667;
  border-radius: 30px;
  transition: all 0.2s linear;
}
.hero-button:hover {
  opacity: 0.8;
}
.hero span {
  color: #fff;
  font-size: 18px;
  line-height: 1.6666666667;
}
.hero-image {
  display: flex;
  align-items: center;
}
.hero-image-big, .hero-image-small {
  object-fit: cover;
  border-radius: 6px;
}
.hero-image-big {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero-image-small {
  width: 210px;
  height: 410px;
}
@container hero (max-width: 540px) {
  .hero-heading {
    font-size: 35px;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image-big {
    width: 100%;
    object-position: top;
  }
  .hero-image-small {
    display: none;
  }
}

@media (min-width: 1005px) {
  .menu-mobile {
    display: none;
  }
}
@container wrapper (max-width: 1000px) {
  .menu-header-icon {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 25px;
    height: 25px;
    color: #fff;
    cursor: pointer;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    position: fixed;
    background-image: linear-gradient(135deg, #262626 0%, #ffffff 100%);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    padding: 60px;
    transition: 0.5s;
  }
  .menu-drawer #header-menu-mobile {
    padding-left: 10px;
  }
  .menu-drawer .header-menu-link {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .menu-drawer .header-menu-item:first-child::before {
    bottom: 13px;
  }
  .menu-drawer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .menu-drawer-top .close-menu {
    width: 25px;
    height: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu .separate,
  .menu .show-on-mobile {
    display: none;
  }
}
@container wrapper (max-width: 580px) {
  .menu-header-icon {
    top: 34px;
  }
  .menu-drawer {
    inset: 0 30% 0 0;
    padding: 30px;
  }
  .menu .separate,
  .menu .show-on-mobile {
    display: block;
  }
}
.menu .separate {
  border-top: 1.5px solid #8c8b8b;
}
.menu .show-on-mobile {
  padding: 20px 0 0 15px;
}

.services {
  container-type: inline-size;
  container-name: services;
}
.services-inner {
  margin: 170px 0;
  container-type: inline-size;
  container-name: services-inner;
}
@container services (max-width: 540px) {
  .services-inner {
    margin: 70px 0;
  }
}
.services-heading {
  color: #10375c;
  text-align: center;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
}
.services-caption {
  font-size: 18px;
  line-height: 1.6666666667;
  text-align: center;
  max-width: 468px;
  margin: 18px auto 70px;
}
@container services-inner (max-width: 540px) {
  .services-heading {
    font-size: 30px;
  }
  .services-caption {
    width: 93%;
    margin: 18px auto 40px;
  }
}
.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-item {
  display: flex;
  gap: 19px;
  width: 470px;
  padding: 21px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.services-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.services-item:hover .services-item-icon {
  color: #fff;
  background-color: #2e80ce;
}
.services-item-icon {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  background-color: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  color: black;
}
.services-item-body {
  flex: 1;
}
.services-item-heading {
  color: #10375c;
  font-size: 18px;
  line-height: 1.26;
  margin-bottom: 8px;
}
.services-item-desc {
  font-size: 16px;
  line-height: 1.75;
}
.services-button {
  display: inline-block;
  padding: 15px 48px;
  font-size: 18px;
  line-height: 1.6666666667;
  margin-top: 55px;
  border-radius: 30px;
  transition: all 0.2s linear;
}
.services-button:hover {
  opacity: 0.8;
}
@container services-inner (max-width: 991.98px) {
  .services-content {
    flex-direction: column;
    gap: 30px;
  }
  .services-list {
    text-align: center;
  }
  .services-item {
    width: 100%;
    text-align: left;
  }
  .services-button {
    margin-top: 40px;
  }
}

.works {
  background-color: #f6fbff;
  padding: 100px 0;
}
.works-container {
  container-type: inline-size;
  container-name: works-container;
}
.works-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
}
.works-caption {
  font-size: 18px;
  line-height: 1.6666666667;
  max-width: 468px;
  margin-block: 18px 70px;
}
.works-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 30px;
}
.works-item {
  padding: 43px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  background-color: #fff;
  transition: all 0.2s linear;
}
.works-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
  cursor: pointer;
}
.works-item-heading {
  color: #10375c;
  font-size: 26px;
  line-height: 1.3846153846;
  margin-block: 18px 28px;
}
.works-item-caption {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 18px;
}
.works-item-more {
  color: #2e80ce;
  font-size: 16px;
  line-height: 1.75;
}
@container works-container (max-width: 540px) {
  .works-heading {
    font-size: 30px;
  }
  .works-item {
    padding: 25px;
  }
}
@container works-container (max-width: 991.98px) {
  .works-list {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 50px;
  }
}

.about {
  container-type: inline-size;
  container-name: about;
}
.about-container {
  margin-top: 85px;
  padding: 85px 0 200px;
  container-type: inline-size;
  container-name: about-container;
}
@container about (max-width: 540px) {
  .about-container {
    margin-top: 30px;
    padding: 40px 15px;
  }
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-image {
  width: 49%;
  position: relative;
}
.about-image-big {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}
.about-image-small {
  width: 332px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
}
.about-content {
  width: 40%;
  margin-top: 83px;
}
.about-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
}
@container about-container (max-width: 540px) {
  .about-content {
    margin-top: 0;
  }
  .about-heading {
    font-size: 30px;
  }
}
.about-caption {
  font-size: 18px;
  line-height: 1.6666666667;
  margin-block: 18px 38px;
}
.about-button {
  display: inline-block;
  padding: 15px 51px;
  font-size: 18px;
  line-height: 1.6666666667;
  border-radius: 30px;
  transition: all 0.2s linear;
}
.about-button:hover {
  opacity: 0.8;
}
@container about-container (max-width: 991.98px) {
  .about-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .about-image {
    width: 100%;
  }
  .about-image-big {
    width: 100%;
  }
  .about-image-small {
    display: none;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }
}

.team {
  padding-top: 60px;
}
.team-container {
  container-type: inline-size;
  container-name: team-container;
}
.team-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
}
.team-button {
  display: block;
  padding: 15px 26px;
  font-size: 18px;
  line-height: 1.6666666667;
  border-radius: 30px;
  margin: 38px auto 70px;
  transition: all 0.2s linear;
}
.team-button:hover {
  opacity: 0.8;
}
.team-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}
.team-item-image {
  background-color: #eaf6ff;
  border-radius: 6px;
  padding-top: 28px;
  overflow: hidden;
}
.team-item-image:hover .team-item-thumb {
  transform: scale(1.1);
  cursor: pointer;
}
.team-item-thumb {
  height: 290px;
  object-fit: cover;
  transition: 0.5s;
}
.team-item-name {
  color: #10375c;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-top: 12px;
}
.team-item-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8571428571;
  text-align: center;
}
.team-controls {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.team-controls-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  color: #575f66;
}
.team-controls-btn:hover {
  border-color: #2e80ce;
  background-color: #2e80ce;
  color: #fff;
}
.team-controls-icon-next {
  rotate: 180deg;
}
@container team-container (max-width: 991.98px) {
  .team-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .team-item-thumb {
    margin: 0 auto;
  }
}
@container team-container (max-width: 540px) {
  .team-list {
    grid-template-columns: minmax(0, 1fr);
  }
  .team-heading {
    font-size: 30px;
  }
  .team-button {
    margin: 30px auto 50px;
  }
}

.cta {
  container-type: inline-size;
  container-name: cta;
}
.cta-wrapper {
  margin: 265px 0 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #2e80ce;
  padding: 0 70px;
  height: 427px;
  border-radius: 4px;
  container-type: inline-size;
  container-name: cta-wrapper;
}
@container cta (max-width: 540px) {
  .cta-wrapper {
    margin: 80px 0;
    padding: 0 30px;
  }
}
.cta-media img {
  position: absolute;
  bottom: 0;
}
.cta-content {
  max-width: 586px;
  width: 100%;
}
@container cta-wrapper (max-width: 970px) {
  .cta-media img {
    display: none;
  }
  .cta-content {
    margin: 0 auto;
  }
}
.cta-heading {
  color: #fff;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
  max-width: 489px;
}
.cta-caption {
  color: #fff;
  font-size: 18px;
  line-height: 1.6666666667;
  margin-block: 18px 38px;
}
@container cta-wrapper (max-width: 540px) {
  .cta-heading {
    font-size: 30px;
  }
  .cta-caption {
    font-size: 15px;
  }
}
.cta-image {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: pointer;
}
@container cta (max-width: 300px) {
  .cta-wrapper {
    padding: 0 20px;
  }
  .cta-image {
    flex-direction: column;
  }
}

.blog-container {
  container-type: inline-size;
  container-name: blog-container;
}
.blog-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  container-name: blog-inner;
}
@container blog-container (max-width: 991.98px) {
  .blog-inner {
    flex-direction: column;
    gap: 40px;
  }
}
.blog-content {
  width: 40%;
}
.blog-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
}
.blog-more {
  display: inline-block;
  font-family: "Inter", sans-serif;
  color: #10375c;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5555555556;
  margin: 28px 0;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
.blog-controls {
  display: flex;
  align-items: center;
  gap: 18px;
}
.blog-controls-btn {
  width: 36px;
  height: 36px;
  border-radius: 100rem;
  border: 1px solid #575f66;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  color: #575f66;
}
.blog-controls-btn:hover {
  border-color: #2e80ce;
  background-color: #2e80ce;
  color: #fff;
}
.blog-controls-icon-next {
  rotate: 180deg;
}
@container blog-inner (max-width: 991.98px) {
  .blog-content {
    width: 100%;
    text-align: center;
  }
  .blog-controls {
    justify-content: center;
  }
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}
@container blog-inner (max-width: 540px) {
  .blog-heading {
    font-size: 30px;
  }
  .blog-list {
    grid-template-columns: minmax(0, 1fr);
  }
}
.blog-item {
  max-width: 270px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  overflow: hidden;
  transition: all 0.2s linear;
}
.blog-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.blog-item-image {
  height: 172px;
  overflow: hidden;
}
.blog-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.blog-item-image:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
.blog-item-content {
  padding: 18px 0 21px 22px;
}
.blog-item-heading {
  color: #10375c;
  font-size: 16px;
  line-height: 1.625;
}
.blog-item-caption {
  font-size: 14px;
  line-height: 1.7142857143;
  margin-block: 10px 12px;
}
.blog-item-more {
  display: inline-block;
  color: #10375c;
  font-size: 14px;
  line-height: 1.26;
  transition: all 0.2s linear;
}
.blog-item-more:hover {
  color: #2e80ce;
}

.appointment {
  container-type: inline-size;
  container-name: appointment;
}
.appointment-content {
  margin: 170px 0;
  padding: 100px 0;
  background-color: #f6fbff;
}
.appointment-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
  position: relative;
  padding-bottom: 18px;
}
.appointment-heading:after {
  content: "";
  width: 136px;
  height: 2px;
  background-color: #2e80ce;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@container appointment (max-width: 540px) {
  .appointment-content {
    margin-top: 90px;
    padding: 35px;
  }
  .appointment-heading {
    font-size: 30px;
  }
}
.appointment-caption {
  max-width: 617px;
  font-size: 16px;
  line-height: 1.75;
  margin: 18px auto 38px;
  text-align: center;
}
.appointment-button {
  display: block;
  padding: 15px 40px;
  font-size: 18px;
  line-height: 1.6666666667;
  border-radius: 30px;
  transition: all 0.2s linear;
  margin: 0 auto;
}
.appointment-button:hover {
  opacity: 0.8;
}

.footer {
  background-color: #10375c;
  padding-top: 100px;
  font-family: "Open Sans", sans-serif;
  color: #a9b3bb;
}
.footer-container {
  container-type: inline-size;
  container-name: footer-container;
}
.footer-top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
  margin-bottom: 20px;
}
@container footer-container (max-width: 991.98px) {
  .footer-top {
    grid-template-columns: 0.6fr 0.5fr 1fr;
    column-gap: 60px;
  }
  .footer-top .footer-column:nth-of-type(3) {
    display: none;
  }
}
@container footer-container (max-width: 630px) {
  .footer-top {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 30px;
  }
  .footer-top .footer-column:nth-of-type(3) {
    display: block;
  }
}
.footer-caption {
  margin-top: 21px;
  font-size: 16px;
  line-height: 1.75;
}
.footer-heading {
  color: #fff;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 20px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 28px;
}
.footer-link {
  display: inline-block;
  color: #a9b3bb;
  font-size: 14px;
  line-height: 1.8571428571;
  transition: all 0.2s linear;
}
.footer-link:hover {
  text-decoration: underline solid #a9b3bb;
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 28px;
}
.footer-socials-btn {
  width: 32px;
  height: 32px;
  border-radius: 100rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e80ce;
  transition: all 0.2s linear;
}
.footer-socials-btn:hover {
  color: #fff;
  background-color: #2e80ce;
}
.footer-desc {
  font-size: 14px;
  line-height: 1.8571428571;
  max-width: 273px;
  margin-bottom: 10px;
}
.footer-bottom {
  border-top: 1px solid #406181;
}
.footer-bottom p {
  padding: 28px 0 42px;
  color: #aab3ba;
  font-size: 14px;
  line-height: 1.8571428571;
  text-align: center;
}

.subscribe-form {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 46px;
}
.subscribe-input {
  color: #fff;
  border: 1px solid #406181;
  border-radius: 4px;
  padding: 10px;
  flex: 1;
}
.subscribe-input::placeholder {
  color: #a9b3bb;
}
.subscribe-button {
  display: block;
  padding: 10px 21px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8571428571;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.subscribe-button:hover {
  opacity: 0.8;
}
@container footer-container (max-width: 300px) {
  .subscribe-form {
    flex-direction: column;
    height: auto;
  }
  .subscribe-button {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=app.css.map */
