*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  color: #575f66;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  color: #fff;
  font-weight: 600;
}

.caption {
  color: #575f66;
  font-weight: 300;
}

.button {
  all: unset;
  color: #fff;
  border-radius: 22px;
  background-color: #2e80ce;
  width: fit-content;
  cursor: pointer;
}

.header {
  background-color: #10375c;
  padding-block: 30px 110px;
}
.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 42px;
}
.header-menu-item {
  position: relative;
}
.header-menu-item:first-child::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100rem;
  background-color: #fff;
  position: absolute;
  left: -12px;
  bottom: 10px;
}
.header-menu-item:first-child .header-menu-link {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.header-menu-link {
  color: #c9d2da;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  transition: all 0.2s linear;
}
.header-menu-link:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.header-btn {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header-btn .button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.75;
  padding: 8px 20px;
  border-radius: 22px;
  transition: all 0.2s linear;
}
.header-btn .button-login {
  color: #c9d2da;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  transition: all 0.2s linear;
}
.header-btn .button-login:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.header-btn .button-signup:hover {
  opacity: 0.8;
}

.hero {
  margin-top: 76px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  width: 44%;
}
.hero-heading {
  font-size: 70px;
  line-height: 1.1428571429;
  letter-spacing: -1.4px;
}
.hero-caption {
  margin-block: 22px 38px;
  color: #c9d2da;
  font-size: 18px;
  line-height: 1.6666666667;
}
.hero-button {
  display: inline-block;
  padding: 15px 46px;
  font-size: 18px;
  line-height: 1.6666666667;
  border-radius: 30px;
  margin-right: 38px;
  transition: all 0.2s linear;
}
.hero-button:hover {
  opacity: 0.8;
}
.hero span {
  color: #fff;
  font-size: 18px;
  line-height: 1.6666666667;
}

.services {
  margin: 170px 0;
}
.services-heading {
  color: #10375c;
  text-align: center;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
}
.services-caption {
  font-size: 18px;
  line-height: 1.6666666667;
  text-align: center;
  max-width: 468px;
  margin: 18px auto 70px;
}
.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-item {
  display: flex;
  gap: 19px;
  width: 470px;
  padding: 21px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.services-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.services-item:hover .services-item-icon {
  color: #fff;
  background-color: #2e80ce;
}
.services-item-icon {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  background-color: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  color: black;
}
.services-item-body {
  flex: 1;
}
.services-item-heading {
  color: #10375c;
  font-size: 18px;
  line-height: 1.26;
  margin-bottom: 8px;
}
.services-item-desc {
  max-width: 308px;
  font-size: 16px;
  line-height: 1.75;
}
.services .button {
  display: inline-block;
  padding: 15px 48px;
  font-size: 18px;
  line-height: 1.6666666667;
  margin-top: 55px;
  border-radius: 30px;
  transition: all 0.2s linear;
}
.services .button:hover {
  opacity: 0.8;
}

.works {
  background-color: #f6fbff;
  padding: 100px 0;
}
.works-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
}
.works-caption {
  font-size: 18px;
  line-height: 1.6666666667;
  max-width: 468px;
  margin-block: 18px 70px;
}
.works-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 30px;
}
.works-item {
  padding: 43px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  background-color: #fff;
  transition: all 0.2s linear;
}
.works-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
  cursor: pointer;
}
.works-item-heading {
  color: #10375c;
  font-size: 26px;
  line-height: 1.3846153846;
  margin-block: 18px 28px;
}
.works-item-caption {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 18px;
}
.works-item-more {
  color: #2e80ce;
  font-size: 16px;
  line-height: 1.75;
}

.about {
  margin-top: 85px;
  padding: 85px 0 200px;
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-image {
  width: 49%;
  position: relative;
}
.about-image-big {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}
.about-image-small {
  width: 332px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
}
.about-content {
  width: 40%;
  margin-top: 83px;
}
.about-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
}
.about-caption {
  font-size: 18px;
  line-height: 1.6666666667;
  margin-block: 18px 38px;
}
.about-button {
  display: inline-block;
  padding: 15px 51px;
  font-size: 18px;
  line-height: 1.6666666667;
  border-radius: 30px;
  transition: all 0.2s linear;
}
.about-button:hover {
  opacity: 0.8;
}

.team {
  padding-top: 60px;
}
.team-heading {
  color: #10375c;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
}
.team-button {
  display: block;
  padding: 15px 26px;
  font-size: 18px;
  line-height: 1.6666666667;
  border-radius: 30px;
  margin: 38px auto 70px;
  transition: all 0.2s linear;
}
.team-button:hover {
  opacity: 0.8;
}
.team-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 30px;
}
.team-item-image {
  background-color: #eaf6ff;
  border-radius: 6px;
  padding-top: 28px;
  overflow: hidden;
}
.team-item-image:hover .team-item-thumb {
  transform: scale(1.1);
  cursor: pointer;
}
.team-item-thumb {
  height: 290px;
  object-fit: cover;
  transition: 0.5s;
}
.team-item-name {
  color: #10375c;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-top: 12px;
}
.team-item-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8571428571;
  text-align: center;
}
.team-controls {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.team-controls-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
.team-controls-btn:hover {
  border-color: #2e80ce;
  background-color: #2e80ce;
}
.team-controls-btn:hover .team-controls-icon {
  color: #fff;
}
.team-controls-icon {
  color: #575f66;
}
.team-controls-icon-next {
  rotate: 180deg;
}

.cta {
  margin: 265px 0 170px;
}
.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #2e80ce;
  padding: 0 70px;
  height: 427px;
  border-radius: 4px;
}
.cta-media img {
  position: absolute;
  bottom: 0;
}
.cta-content {
  max-width: 586px;
  width: 100%;
}
.cta-heading {
  color: #fff;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -1px;
  max-width: 489px;
}
.cta-caption {
  color: #fff;
  font-size: 18px;
  line-height: 1.6666666667;
  margin-block: 18px 38px;
}
.cta-image {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
